@model portal_job_FN.Models.Education
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-6 mb-3">
    <form asp-area="User" asp-controller="Profile" asp-action="AddEducation">
            <div class="card-body d-flex">
                <i class="fas fa-school school-icon fa-3x mr-3" style="margin-right:10px"></i> <!-- Icon trường học từ Font Awesome -->
                <div>
                <h5 class="school-name">
                    <label asp-for="universityId" class="control-label">Học vấn</label>
                    <select asp-for="universityId" asp-items="ViewBag.Universities" class="form-control">
                        <option value="">-- Chọn Trường Đại Học / Cao Đẳng --</option>
                    </select>
                    <span asp-validation-for="universityId" class="text-danger"></span>
                </h5>
                <h5 class="major-name">
                    <label asp-for="MajorId" class="control-label">Chuyên ngành</label>
                    <select asp-for="MajorId" asp-items="ViewBag.Majors" class="form-control">
                        <option value="">-- Chọn chuyên ngành --</option>
                    </select>
                    <span asp-validation-for="MajorId" class="text-danger"></span>
                </h5>
                <div>
                <label asp-for="gpa" class="control-label">GPA</label>
                <input asp-for="gpa" class="form-control"/>
                <span asp-validation-for="gpa" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="start_date" class="control-label">Bắt đầu</label>
                    <input asp-for="start_date" class="form-control datepicker" asp-format="{0:dd/MM/yy}" />
                    <label asp-for="end_date" class="control-label">Kết thúc</label>
                    <input asp-for="end_date" class="form-control datepicker" asp-format="{0:dd/MM/yy}" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
    </form>
</div>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>